* {margin: 0 auto;}

.mainContainer 
{
    justify-content: center;
    margin:1.75em;
}

.mainContainer > * 
{
    margin: 0 auto;
    text-align: center;
    padding: 1em;
    color: white;
    background-color:rgba(33, 33, 33, 0.5);
    border-radius: 12px;
    margin: 0.5em 0 0.5em 0;
    padding-bottom: 1em;
    padding-top: 1em;
}

.mainContainer > *:first-child 
{
    border-radius: 10px;
    background-color:rgba(33, 33, 33, 0.75);
}
.button 
{
    outline-color: black;
    background-color: #535353;
    border-radius: 5px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color: #b3b3b3;
}

.createBtn
{
    width: 100%;   
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}

.button, .createBtn 
{
    width: 100%;
    background-color: rgba(0,0,0, 0.4);
    color: white;
    border-radius: 7px;
}

button:hover {
    background-color: gray;
    border: 1px solid white;
}